<body>
<h1>Quick Search</h1>


<%= form_for @user, :method => :get, :url => url_for(:controller => 'users', :action => 'search') do |f| %>
  <%= f.label :location_zip, "Zip Code" %>:
  <%= f.text_field :zip_code %><br>
  <%= f.label :subjects, "Subject" %>:
  <%= f.text_field :subjects %><br>
  <%= f.submit "Search!" %>
<% end %>
<br>

<h5><a href="/login">Login?</a></h5>
<h5>Create profile?</h5>

<% if @results %>
  <h3>Search results</h3>
  <% @results.each do |result| %>
  <h5><u>Name</u></h5>
  <%= result.first_name %>
  <h5><u>Location</u><h5>
  <%= result.zip_code %>
  <h5><u>Minimum rate</u><h5>
  <%= result.rate_min %>
  <%= result.rate_max %>
  <% end %>

<% end %>

<body>






